openapi: 3.0.0
info:
  title: Flat101
  description: API to manage Tasks
  version: 1.0.0
servers:
  - url: https://www.flat101.es
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /rest/v1/tasks/all:
    get:
      tags:
        - default
      summary: Get All Active Tasks
      security:
        - bearerAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: User-Agent
          in: header
          schema:
            type: number
          example: PostmanRuntime/7.29.2
        - name: Accept
          in: header
          schema:
            type: string
          example: '*/*'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: "{\r\n    \"task_id\": \"12345\",\r\n    \"task_type\": \"fetchUrlTitle\",\r\n    \"status\": \"Completed\",\r\n    \"priority\": \"1\"\r\n}"
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
              example: "{\r\n    \"error\": \"No Tasks Found\"\r\n}"
  /rest/v1/tasks/{id}:
    get:
      tags:
        - default
      summary: Get Task By ID
      security:
        - bearerAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: User-Agent
          in: header
          schema:
            type: number
          example: PostmanRuntime/7.29.2
        - name: Accept
          in: header
          schema:
            type: string
          example: '*/*'
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: "{\r\n    \"task_id\": \"128773\",\r\n    \"task_type\": \"callApi\",\r\n    \"status\": \"New\",\r\n    \"priority\": \"0\"\r\n}"
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
              example: "{\r\n    \"error\": \"No task by this ID\"\r\n}"
  /rest/v1/tasks/create:
    post:
      tags:
        - default
      summary: Create New Task
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                task_type: fetchUrlTitle
                url: https://www.example.com
      security:
        - bearerAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: User-Agent
          in: header
          schema:
            type: number
          example: PostmanRuntime/7.29.2
        - name: Accept
          in: header
          schema:
            type: string
          example: '*/*'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: "{\r\n    \"task_id\": \"676782\",\r\n    \"task_type\": \"fetchUrlTitle\",\r\n    \"status\": \"New\",\r\n    \"priority\": \"1\"\r\n}"
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
              example: "{\r\n    \"error\": \"Task cannot be created. Please try again later\"\r\n}"
